/*INDEX*/
footer{background-color: rgb(255, 255, 255);
    section{
        a{
            img{
                h4{
                    h4{
                        a{
                            a{
                                img{
                                    img{
                                        height: 80px;
                                        width: 80px;
                                        position: fixed;
                                        bottom: 70px;
                                        left: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*PRENDAS*/
footer{
    background-color: rgb(255, 255, 255);
}
/*CONTACTO*/
footer{
    section{
        a{
            img{height: 60px;
                width: 60px;
                img{
                    height: 80px;
                    width: 80px;
                    position: fixed;
                    bottom: 70px;
                    left: 30px;
                }
            }
        }
    }
}
/*DESTACADOS*/
footer{background-color: azure;
    script{
        opacity: 0;
    }
}
/*NOSOTROS*/
footer{
    display: flex;
    justify-content: end;
    background-color: azure;
    section{
        h3{
            iframe{
                h4{
                    script{
                        opacity: 0;
                    }
                }
            }
        }
    }
}